﻿@model Blog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>
    <div class="display-label">
        <h3>@Html.DisplayNameFor(model => model.UserProfile.UserName)</h3>
    </div>
    <div class="display-field">
    @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-label">
         <h3>@Html.DisplayNameFor(model => model.Title)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         <h3>@Html.DisplayNameFor(model => model.Body)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
        <h3>@Html.DisplayNameFor(model => model.DateCreated)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
    
</fieldset>

@Html.Partial("_addComment",new Blog.Models.Comment(), ViewData)

<fieldset>
    <legend>Comment</legend>
    <div id="result">
        @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(5))
        {
            <div class="display-field">
                <h5>Ngày tạo: @Html.DisplayFor(x => comment.DateCreated). Cách đây: @Html.DisplayFor(x => comment.LastTime) giây</h5>
            </div>
            <div class="display-field">
                @Html.DisplayFor(x => comment.Body)
            </div>
        }
    </div>
</fieldset>

@*<fieldset>
    <legend>Tag</legend>

    @foreach (var tag in Model.Tags)
    {
        <div class="display-field">

            @Html.ActionLink(tag.Content, "ViewTaginPost/" + tag.ID, "Post")
        </div>
    }
</fieldset>*@
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
