﻿@model Blog.Models.Comment

<div class="display-field">
    <h5>Ngày tạo: @Html.DisplayFor(model => model.DateCreated). Cách đây: @Html.DisplayFor(model => model.LastTime) giây</h5>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>