﻿@model MvcApplication12.Models.Comment

@using (Html.BeginForm("Create", "Comment", new { idpost = ViewData["idpost"] }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AddComment</legend>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PostID, "Post")
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
